<!DOCTYPE html>
<!-- saved from url=(0047)http://getbootstrap.com/examples/justified-nav/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Infolab Contextual Analysis Projects</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/justified-nav/justified-nav.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="./Justified Nav Template for Bootstrap_files/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style>[touch-action="none"]{ -ms-touch-action: none; touch-action: none; }[touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x; }[touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y; }[touch-action="scroll"],[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y; }</style><style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -90px !important;
    width: 180px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}

/* reduce padding on nav items */
.nav-justified > li > a {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    white-space: nowrap;
    font-weight: normal;
}


.masthead {
    margin-bottom: 16px;
}

</style></head>

  <body data-feedly-mini="yes">

    <div class="container">

      <div class="masthead">
        <h3 class="text-muted">Infolab Contextual Analysis Projects</h3>
        <ul class="nav nav-justified">
          <li{% if request.endpoint == 'home' %} class="active"{% endif %}><a href="{{ url_for('home') }}">Home</a></li>
          <li{% if request.endpoint == 'url_' %} class="active"{% endif %}><a href="{{ url_for('url_') }}">URL Search</a></li>
          <li{% if request.endpoint == 'content' %} class="active"{% endif %}><a href="{{ url_for('content') }}">Content</a></li>
          <li{% if request.endpoint == 'keywords' %} class="active"{% endif %}><a href="{{ url_for('keywords') }}">Keywords</a></li>
          <li{% if request.endpoint == 'entities' %} class="active"{% endif %}><a href="{{ url_for('entities') }}">Entities</a></li>
          <li{% if request.endpoint == 'topic' %} class="active"{% endif %}><a href="{{ url_for('topic') }}">Topic</a></li>
          <li{% if request.endpoint == 'stakeholders' %} class="active"{% endif %}><a href="{{ url_for('stakeholders') }}">Stakeholders</a></li>
          <li{% if request.endpoint == 'stakeholdertweets' %} class="active"{% endif %}><a href="{{ url_for('stakeholdertweets') }}">Stakeholder Tweets</a></li>
          <li{% if request.endpoint == 'reddits' %} class="active"{% endif %}><a href="{{ url_for('reddits') }}">Reddits</a></li>
          <li{% if request.endpoint == 'categories' %} class="active"{% endif %}><a href="{{ url_for('categories') }}">Categories</a></li>
          <li{% if request.endpoint == 'pundittweets' %} class="active"{% endif %}><a href="{{ url_for('pundittweets') }}">Pundit Tweets</a></li>
        </ul>
      </div>

      {% block content %}
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Marketing stuff!</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
        <p><a class="btn btn-lg btn-success" href="http://getbootstrap.com/examples/justified-nav/#" role="button">Get started today</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Safari bug warning!</h2>
          <p class="text-danger">As of v7.0.1, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.</p>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary" href="http://getbootstrap.com/examples/justified-nav/#" role="button">View details »</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary" href="http://getbootstrap.com/examples/justified-nav/#" role="button">View details »</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
          <p><a class="btn btn-primary" href="http://getbootstrap.com/examples/justified-nav/#" role="button">View details »</a></p>
        </div>
      </div>
      {% endblock content %}

      <!-- Site footer -->
      <div class="footer">
        <p>© 2014 <a href="http://infolab.northwestern.edu/">Intelligent Information Laboratory - Northwestern University</a></p>
      </div>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./Justified Nav Template for Bootstrap_files/ie10-viewport-bug-workaround.js"></script>
  

<div id="feedly-mini" title="feedly Mini tookit"></div></body></html>
