
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 50px;
      }
    </style>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://getbootstrap.com/2.3.2/assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="http://getbootstrap.com/2.3.2/assets/ico/favicon.png">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Infolab Context</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li{% if request.endpoint == 'url_' %} class="active"{% endif %}><a href="{{ url_for('url_') }}">URL Search</a></li>
            <li{% if request.endpoint == 'content' %} class="active"{% endif %}><a href="{{ url_for('content') }}">Content</a></li>
            <li{% if request.endpoint == 'keywords' %} class="active"{% endif %}><a href="{{ url_for('keywords') }}">Keywords</a></li>
            <li{% if request.endpoint == 'entities' %} class="active"{% endif %}><a href="{{ url_for('entities') }}">Entities</a></li>
            <li{% if request.endpoint == 'topic' %} class="active"{% endif %}><a href="{{ url_for('topic') }}">Topic</a></li>
            <li{% if request.endpoint == 'stakeholders' %} class="active"{% endif %}><a href="{{ url_for('stakeholders') }}">Stakeholders</a></li>
            <li{% if request.endpoint == 'stakeholdertweets' %} class="active"{% endif %}><a href="{{ url_for('stakeholdertweets') }}">Stakeholder Tweets</a></li>
            <li{% if request.endpoint == 'reddits' %} class="active"{% endif %}><a href="{{ url_for('reddits') }}">Reddits</a></li>
            <li{% if request.endpoint == 'categories' %} class="active"{% endif %}><a href="{{ url_for('categories') }}">Categories</a></li>
            <li{% if request.endpoint == 'pundittweets' %} class="active"{% endif %}><a href="{{ url_for('pundittweets') }}">Pundit Tweets</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      {% block content %}
      {% endblock content %}
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>

