{% extends "base.jinja2" %}

{% block content %}
  {% for entity in entities %}
    <div>
        <h3>{{ entity.name }}</h3>
        <h4>{{ entity.name_forms|join(' | ') }}</h4>
        <p><strong>Type:</strong> {{ entity.type }}</p>
        <p><strong>Score:</strong> {{ entity.score }}</p>
    </div>
  {% endfor %}
{% endblock %}
