{% extends "base.jinja2" %}

{% block content %}
      <div class="row-fluid">
        <div class="span4">
          <h2>Intelligence in context</h2>
          <p>The contextual analysis projects at Northwestern's Infolab are a group of projects with a common set of goals and a common architecture. Built on the lab's Architecture for Contextual Analysis, the following browser extension incorporates different approaches to analyzing and presenting data related to the user's current context.</p>
        </div>
      </div>
      <div class="row-fluid">
        <div>
          <h3>Notes:</h3>
          {% for note in notes %}
            <p>{{ note }}</p>
          {% endfor %}
        </div>
        {% for ext in resources.browser_extensions %}
          <div class="span4">
            <h3>{{ ext.name }}</h3>
            <ul>
              <li><a href="{{ ext.chrome }}">Chrome</a></li>
              <li><a href="{{ ext.firefox }}">Firefox</a></li>
              <li><a href="{{ ext.safari }}">Safari</a></li>
            </ul>
          </div>
        {% endfor %}
      </div>

{% endblock %}
