{% extends "base.jinja2" %}

{% block content %}
    <style>
        .glyphicon.spinning {
            animation: spin 1s infinite linear;
            -webkit-animation: spin2 1s infinite linear;
        }
        @keyframes spin {
            from { transform: scale(1) rotate(0deg); }
            to { transform: scale(1) rotate(360deg); }
        }
        @-webkit-keyframes spin2 {
            from { -webkit-transform: rotate(0deg); }
            to { -webkit-transform: rotate(360deg); }
        }
    </style>

    <div id="geocode">
        <span class="glyphicon glyphicon-refresh spinning"></span> Loading location ...
    </div>

    <div id="tweets"></div>

    <script>
        console.log('script');
        var getLocalTweets = function(location) {
            var lat = location.coords.latitude;
            var lon = location.coords.longitude;
            console.log(lat);
            console.log(lon);
            $('#geocode').html('<p>Location: (' + lat + ', ' + lon + ')</p>');
            $('#tweets').html('<span class="glyphicon glyphicon-refresh spinning"></span> Loading topic tweets within 10 miles ...');
            $.ajax({
                url: '/localtweets?url={{ content_url }}&lat=' + lat + '&lon=' + lon,
                dataType: 'json'
            }).done(function(data) {
                $('#tweets').html('');
                $.each(data['tweets'], function(i, tweet) {
                    console.log(tweet);
                    var content = '<p>@' + tweet.user.screen_name + ': ' + tweet.text + '<br/> ';
                    if (tweet.geo && tweet.geo[0] != undefined) {
                        content += ' (' + tweet.geo[0] + ', ' + tweet.geo[1]  + ') ';
                    }
                    content += tweet.place.full_name + ' (' + tweet.place.place_type + ')</p><hr/>';
                    $('#tweets').append(content);
                });
            });
        };
        navigator.geolocation.getCurrentPosition(getLocalTweets);
    </script>
{% endblock content %}

