{% extends "base.jinja2" %}

{% block content %}
    {% for t in tweets %}
        <p>
        <strong>@{{ t.user.screen_name }}</strong><br>
        {{ t.text }}
        </p>
    {% endfor %}
{% endblock content %}
