{% extends "base.jinja2" %}

{% block content %}
   <h3>URL Required:</h3>
   <form action="{{ url_for('url_required') }}" method="POST">
    <input type="hidden" name="next" value="{{ next }}" />
    <input name="url" type="text" size="55"/>
    <input type="submit" value="Submit" />
   </form>
{% endblock content %}
